node_modules/
.DS_Store
.next/
out/
generated/
.env
.env.local
.env.*.local
*.tsbuildinfo
next-env.d.ts
playwright-report/
test-results/
stockage-local/
public/sw.js
public/sw.js.map
public/swe-worker-*.js
.next-e2e/
.next-staging/
